# PostgreSQL
DATABASE_URL=postgres://owl:owl@127.0.0.1:5432/owl
TEST_DATABASE_URL=postgres://owl:owl@127.0.0.1:5432/owl

# Logs path
LOGS_PATH=/tmp/aberowl.log

# General settings
# DJANGO_READ_DOT_ENV_FILE=True
DJANGO_DEBUG=True
DJANGO_ADMIN_URL=
DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Elastic Search Settings
ELASTIC_SEARCH_URL=http://localhost:9100/
ELASTIC_SEARCH_USERNAME=elastic
ELASTIC_SEARCH_PASSWORD=test123
ELASTIC_ONTOLOGY_INDEX_NAME=aberowl_ontology
ELASTIC_CLASS_INDEX_NAME=aberowl_owlclass

# AWS Settings
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=

# Used with email
DJANGO_MAILGUN_API_KEY=
DJANGO_SERVER_EMAIL=
MAILGUN_SENDER_DOMAIN=

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True
